**/node_modules
**/dist
**/.angular
**/.env
**/.env.*
!MercurionWebNode/env/.env.example
**/*.pem
**/*.key
**/*.p12
**/*.pfx
MercurionWebNg/.npmrc
MercurionWebNode/.npmrc
.git
.github
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
