:root {
  --light-electron: #1150d6;
  --light-nucleus: #10b981f8;
  --dark-electron: #60A5FA;
  --dark-nucleus: #cad5e2;
}

/* ========= tema scuro (classe .dark sul <html>) ========= */
html.dark ngx-spinner[name="globalSpinner"] .la-ball-atom {
  color: var(--dark-electron) !important;
  filter: contrast(1.25) !important;
}

html.dark ngx-spinner[name="globalSpinner"] .la-ball-atom>div:first-child {
  background: var(--dark-nucleus) !important;
  filter: contrast(1.125) !important;
}

/* ========= tema chiaro (qualunque stato SENZA .dark) ========= */
html:not(.dark) ngx-spinner[name="globalSpinner"] .la-ball-atom {
  color: var(--light-electron) !important;
  filter: contrast(1.8) !important;
}

html:not(.dark) ngx-spinner[name="globalSpinner"] .la-ball-atom>div:first-child {
  background: var(--light-nucleus) !important;
  filter: contrast(1.125) !important;
}

html:not(.dark) .header-shadow {
  box-shadow: 1px 0px 1px 0px oklch(44.2% 0.017 285.786);
}

