# Example configuration for development
NODE_ENV=development
APP_PORT=8099
APP_HOST=http://localhost
APP_PROJECT_NAME=MercurionWebServer
SQL_DATABASE_TYPE=mariadb
SQL_DATABASE_HOST=localhost
SQL_DATABASE_PORT=3307
SQL_DATABASE_USERNAME=root
SQL_DATABASE_PASSWORD=root
SQL_DATABASE=spectralume
JWT_SECRETS_PRE_AUTHORIZATION_TOKEN=changeme
EMAIL_PASSWORD=changeme
TWILIO_AUTH_TOKEN=changeme
DROPBOX_APP_SECRET=changeme
CLOUDFLARE_SECRET_KEY=changeme
