<footer class="px-6 py-6 bg-slate-100 dark:bg-slate-800/50 text-sm text-slate-600 dark:text-slate-200 border-t border-slate-400/40 dark:border-slate-400/65">
  <div class="max-w-7xl mx-auto flex flex-col sm:flex-row justify-between items-center gap-4 text-center sm:text-left">

    <!-- Brand + copyright -->
    <p class="text-xs tracking-wide sm:text-sm">&copy; 2025 Mercurion. Tutti i diritti riservati.</p>

    <!-- Link essenziali -->
    <div class="flex flex-wrap justify-center sm:justify-end gap-x-6 gap-y-2">
      <a href="/privacy" class="hover:underline dark:hover:no-underline hover:text-slate-600 dark:hover:text-slate-100 transition">Privacy</a>
      <a href="/terms" class="hover:underline dark:hover:no-underline hover:text-slate-600 dark:hover:text-slate-100 transition">Termini</a>
      <a href="/contatti" class="hover:underline dark:hover:no-underline hover:text-slate-600 dark:hover:text-slate-100 transition">Contatti</a>
    </div>
  </div>
</footer>
