<div class="p-8 space-y-8 transition-all duration-300 absolute top-0 left-0 right-0 bottom-0"
     [class.bg-light-surface-main]="!isDarkMode"
     [class.text-light-on-surface-main]="!isDarkMode"
     [class.bg-dark-surface-main]="isDarkMode"
     [class.text-dark-on-surface-main]="isDarkMode">

  <div class="m-5 text-light-accent-primary">
    <img src="/title.svg" alt="Mercurion">
  </div>

  <button (click)="toggleDarkMode()"
          class="px-4 py-2 rounded font-medium border border-current">
    Toggle {{ isDarkMode ? 'Light' : 'Dark' }} Mode
  </button>

  <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    <div class="p-4 rounded shadow text-center bg-light-surface-secondary dark:bg-dark-surface-secondary border-light-border dark:border-dark-border border">
      Surface Secondary
    </div>

    <div class="p-4 rounded shadow text-center bg-light-accent-primary dark:bg-dark-accent-primary text-white">
      Accent Primary
    </div>

    <div class="p-4 rounded shadow text-center bg-light-accent-secondary dark:bg-dark-accent-secondary text-white">
      Accent Secondary
    </div>

    <div class="p-4 rounded shadow text-center bg-light-warning dark:bg-dark-warning text-white">
      Warning
    </div>

    <div class="p-4 rounded shadow text-center bg-light-error dark:bg-dark-error text-white">
      Error
    </div>

    <div class="p-4 rounded shadow text-center border-2 border-light-border dark:border-dark-border">
      Border Example
    </div>

    <div class="p-4 rounded shadow text-center text-light-on-surface-secondary dark:text-dark-on-surface-secondary">
      Text Secondary
    </div>

    <div class="p-4 rounded shadow text-center text-light-on-surface-main dark:text-dark-on-surface-main">
      Text Primary
    </div>
  </div>
</div>
